* {
	box-sizing: border-box;
}

.head {
	background-color: #666;
	padding: 5px;
	text-align: center;
	font-size: 35px;
	color: white;
}

nav {
	float: left;
	width: fit-content;
	background: #ccc;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

article {
	float: left;
	padding: 10px;
	width: 80%;
}

section:after {
	content: "";
	display: table;
	clear: both;
}

footer {
	background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
}

nav .closebtn {
	font-size: 36px;
	display: none;
}

#nav-menu {
	display: none;
}

.banner {
	padding: 5px;
	background-color: #fd9286;
	justify-content: center;
	border-radius: 0.3rem;
	margin: 5px;
	font-weight: bold;
}

@media ( max-width : 1000px) {
	header {
		display: flex;
		align-items: stretch;
		background-color: #ccc;
	}
	.head {
		flex-grow: 5;
		font-size: large;
	}
	nav {
		float: none;
		height: auto;
		margin: 0;
		width: fit-content;
		border-radius: 0;
	}
	article {
		float: none;
		width: auto;
		height: auto;
	}
	nav ul {
		display: none;
	}
	#nav-menu {
		display: unset;
		font-size: x-large;
	}
	.font-20 {
		font-size: small !important;
	}
	.nav_container {
		float: left;
		position: absolute;
		z-index: 9;
	}
}

section {
	/* 	background-image: url("/img/bg/bg_016_obj_flr_onm01_02_02.png"); */
	background-size: 150px;
	background-repeat: repeat;
	background-color: #444444;
}

body a {
	text-decoration: none;
}

#nav-menu button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.sub-nav {
	text-align: center;
}