<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #skill-static-resources},
                                                ~{:: #skill-header},
                                                ~{:: #skill-nav},
                                                ~{:: #skill-content},  
                                                ~{:: #skill-footer}
                                               )}">

<head>
<title th:text="#{${ailment.name}}"></title>

<th:block id="skill-static-resources">
	<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
		type="text/javascript"></script>
	<script>
		
	</script>
</th:block>

</head>
<body>

	<div id="skill-header" class="flex_center_row">
		<div class="pad-left-10">
			<img th:src="@{${'/img/icon/' + ailment.icon }}" />
		</div>
		<div th:text="#{${ailment.name}}" class="pad-left-10"></div>

	</div>

	<div id="skill-nav"
		th:replace="~{fragments/app-fragments :: nav-default}">Nav</div>

	<div id="skill-content" class="grid">
		<div class="flex_center_row pad-10" th:with=name=#{${ailment.name}}>

			<div class="skill-item bold flex-column pad-10">
				<span th:text="Icon" class="header"></span>
				<div class="skill-sub-item">
					<img th:src="@{${'/img/icon/' + ailment.icon  }}" />
				</div>
			</div>

			<div class="skill-item bold flex-column pad-10">
				<span th:text="Name" class="header"></span>
				<div th:text="${name}" class="skill-sub-item">reach</div>
			</div>
			<!-- 	<div class="skill-item bold flex-column pad-10">
				<span th:text="display" class="header"></span>
				<div th:text="#{${ailment.displayFormat}}" class="skill-sub-item">mp</div>
			</div> -->
			<div class="skill-item bold flex-column pad-10"
				th:with=desc=#{${ailment.descFormat}}>
				<span th:text="Description" class="header"></span>
				<div th:text="${#strings.replace(desc,'<statusName>', name)}"
					class="skill-sub-item">base dmg</div>
			</div>
		</div>

		<div class="learned">
			<div class="header bold">Skills with this status ailment:</div>
			<div class="skill-status">
				<div th:each="skill : ${skills}" th:remove="tag">
					<div class="flex-center">
						<div
							th:classappend="${skill.rarity==30} ? skill_frame : skill_frame2"
							class="top1"
							th:style="@{${'background-image: url(/img/icon/' + skill.button+');' }}">
							<span class="skill_frame_centerer"></span><img
								th:src="@{${'/img/icon/' + skill.icon }}" />
						</div>
						<div class="pad5 skill-long">
							<a class="" th:href="@{${'/skill/' + skill.code}}"
								th:text="#{${skill.name}}"> </a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="learned">
			<div class="header bold">Learned by:</div>
			<div class="flex_center_row">
				<div th:each="unit : ${units}" th:remove="tag">
					<div class="frame-container" th:title="#{${unit.name}}">
						<div class="framez">
							<img th:src="@{${'/img/icon/' + unit.rarity.background }}" />
						</div>
						<div class="prof">
							<img th:src="@{${'/img/icon/' + unit.icon }}" />

						</div>
						<div class="framez">
							<a th:href="@{${'/unit/' + unit.code}}"> <img
								th:src="@{${'/img/icon/' + unit.rarity.frame }}" /></a>
						</div>
						<div class="rarity">
							<img th:src="@{${'/img/icon/' + unit.rarity.icon }}" />
						</div>

					</div>
					<!-- 	<a class="learned-item" th:href="@{${'/unit/' + unit.code}}"><img
						th:src="@{${'/img/icon/' + unit.icon }}" /></a> -->
				</div>
			</div>
		</div>
	</div>

	<div id="skill-footer"
		th:replace="~{fragments/app-fragments :: copyright}">Footer</div>
</body>
</html>