<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #buff-static-resources},
                                                ~{:: #buff-header},
                                                ~{:: #buff-nav},
                                                ~{:: #buff-content},  
                                                ~{:: #buff-footer}
                                               )}">

<head>
<title th:text="#{${buff.name}}"></title>

<th:block id="buff-static-resources">
	<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
		type="text/javascript"></script>
	<script>
		
	</script>
</th:block>

</head>
<body>

	<div id="buff-header" class="flex_center_row"
		th:with="level=${buff.level}">
		<div th:if="${not #strings.isEmpty(buff.iconUp)}" class="pad-left-10">
			<img th:src="@{${'/img/icon/' + buff.iconUp }}" />
		</div>
		<div th:text="#{${buff.name}}" class="pad-left-10"></div>

		<div th:if="${not #strings.isEmpty(buff.iconDown)}"
			class="pad-left-10">
			<img th:src="@{${'/img/icon/' + buff.iconDown  }}" />
		</div>
	</div>

	<div id="buff-nav"
		th:replace="~{fragments/app-fragments :: nav-default}">Nav</div>

	<div id="buff-content" th:with=name=#{${buff.name}}>
		<div th:each="suf,iter : ${buff.suffix}" th:remove="tag">
			<div
				th:if="${(iter.index==0 and buff.up and buff.iconUp!=null) or (iter.index==1 and buff.down and buff.iconDown!=null)}"
				class="effect-container">
				<div class="flex_center_row pad-10" th:with="sufTxt=#{${suf}}">
					<div class="skill-item bold flex-column pad-10">
						<span th:text="Icon" class="header"></span>
						<div class="skill-sub-item">
							<img
								th:src="@{${'/img/icon/' + (iter.index==0?buff.iconUp:buff.iconDown)  }}" />
						</div>
					</div>

					<div class="skill-item bold flex-column pad-10"
						th:with="display=#{${buff.displayFormat}}">
						<span th:text="Name" class="header"></span>
						<div class="skill-sub-item"
							th:with="display=${#strings.replace(display,'<statusName>', name)}">
							<span
								th:text="${#strings.replace(display,'<statusChangeTo>', sufTxt)}">name</span>
						</div>
					</div>
					<div class="skill-item bold flex-column pad-10"
						th:with=desc=#{${buff.descFormat}}>
						<span th:text="Description" class="header"></span>
						<div th:with="desc=${#strings.replace(desc,'<effectValue>', '')}">
							<div
								th:with="desc=${#strings.replace(desc,'<statusChangeTo>', sufTxt)}">
								<div th:text="${#strings.replace(desc,'<statusName>', name)}"
									class="skill-sub-item">desc</div>
							</div>
						</div>
					</div>

				</div>
				<div th:with="skillarr=${skills[iter.index]}" th:remove="tag">
					<div class="learned" th:if="not ${#lists.isEmpty(skillarr)}">
						<div class="header bold"
							th:text="'Skills with this '+${iter.index==0?'buff:':'debuff:'}"></div>
						<div class="skill-status">
							<div th:each="skill : ${skillarr}" th:remove="tag">
								<div class="flex-center">
									<div
										th:classappend="${skill.rarity==30} ? skill_frame : skill_frame2"
										class="top1"
										th:style="@{${'background-image: url(/img/icon/' + skill.button+');' }}">
										<span class="skill_frame_centerer"></span>
										<img th:src="@{${'/img/icon/' + skill.icon }}" />
									</div>
									<div class="pad5 skill-long"
										th:classappend="${'skill-long-'+skill.rarity.code }">
										<a class="" th:href="@{${'/skill/' + skill.code}}"
											th:text="#{${skill.name}}"> </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div th:with="unitarr=${units[iter.index]}" th:remove="tag">
					<div class="learned" th:if="not ${#lists.isEmpty(unitarr)}">
						<div class="header bold">Learned by:</div>
						<div class="flex_center_row">
							<div th:each="unit : ${unitarr}" th:remove="tag">
								<div class="frame-container" th:title="#{${unit.name}}">
									<div class="framez">
										<img th:src="@{${'/img/icon/' + unit.rarity.background }}" />
									</div>
									<div class="prof">
										<img th:src="@{${'/img/icon/' + #uris.escapePathSegment(unit.icon)}}" />

									</div>
									<div class="framez">
										<a th:href="@{${'/unit/' + unit.code}}">
											<img th:src="@{${'/img/icon/' + unit.rarity.frame }}" />
										</a>
									</div>
									<div class="rarity">
										<img th:src="@{${'/img/icon/' + unit.rarity.icon }}" />
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="learned" th:if="not ${#lists.isEmpty(passives)}">
					<div class="header bold">Passives with this buff:</div>
					<div class="skill-status">
						<div th:each="passive : ${passives}" th:remove="tag">
							<div class="flex-center">
								<div class="pad5 passive-long">
									<a class="" th:href="@{${'/passive/' + passive.code}}"
										th:text="#{${passive.name}}"> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



	</div>

	<div id="buff-footer"
		th:replace="~{fragments/app-fragments :: copyright}">Footer</div>
</body>
</html>