<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #buffs-static-resources},
                                                ~{:: #buffs-header},
                                                ~{:: #buffs-nav},
                                                ~{:: #buffs-content},  
                                                ~{:: #buffs-footer}
                                               )}">

<head>
<title>Status Change list</title>

<th:block id="buffs-static-resources">
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.5.1.js">
		
	</script>


	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.11.5/js/dataTables.jqueryui.min.js"></script>

	<link rel="stylesheet" type="text/css"
		href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/1.11.5/css/dataTables.jqueryui.min.css">
</th:block>

</head>
<body>

	<div id="buffs-header">Status Change List</div>

	<div id="buffs-nav"
		th:replace="~{fragments/app-fragments :: nav-default}">Nav</div>

	<div id="buffs-content">


		<div>
			<div class="units">
				<div>
					<div></div>
					<table id="example" class="display cell-border" style="width: 100%">
						<thead>
							<tr>
								<th>Icon</th>
								<th>Name</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Icon</th>
								<th>Name</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>


		<script type="text/javascript" src="json/buff_name.js"></script>
		<script>
			var loc = "[[${#locale}]]";
			var names = {};
			$('#example')
					.DataTable(
							{
								"paging" : false,
								"order" : [ 1, "asc" ],
								"ajax" : {
									"url" : "/buffs/q",
									"type" : "POST",
									"dataType" : "json",
									"dataSrc" : "",
									"contentType" : "application/json",
									"data" : function(d) {
										return JSON.stringify(d);
									}
								},
								"columns" : [

										{
											"data" : "iconUp",
											"render" : function(data, type,
													row, meta) {
												if (type === "sort"
														|| type === 'type') {
													return data;
												} else {
													var up = "";
													var down = "";
													if (row['iconUp']) {
														up = '<div class="icon_container_very_small"><img src="/img/icon/' + data  + '" /></div>';
													}
													if (row['iconDown']) {
														down = '<div class="icon_container_very_small"><img src="/img/icon/' + row['iconDown']  + '" /></div>';
													}
													return '<div class="flex">'
															+ up + down
															+ '</div>';
												}
											}
										},
										{
											"data" : "code",
											"render" : function(data, type,
													row, meta) {
												var buff = '';
												var suffix = 'Up/Down';
												if (loc === 'ja') {
													suffix = 'アップ/ダウン';
													buff = buff_name_ja[row['name']];
												} else if (loc === 'fr') {
													buff = buff_name_fr[row['name']] ? buff_name_fr[row['name']]
															: buff_name_ja[row['name']];
												} else {
													buff = buff_name_en[row['name']] ? buff_name_en[row['name']]
															: buff_name_ja[row['name']];
												}
												names[data] = buff;
												return '<a href="/buff/' + data + '">'
														+ buff + '</a>';
											}
										} ],
							});
		</script>
	</div>




	<div id="buffs-footer"
		th:replace="~{fragments/app-fragments :: copyright}">Footer</div>


</body>
</html>