<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #event-static-resources},
                                                ~{:: #event-header},
                                                ~{:: #event-nav},
                                                ~{:: #event-main-content},  
                                                ~{:: #event-footer}
                                               )}">

<head>
<title>Events</title>

<th:block id="event-static-resources">

	<script type="text/javascript" src="../static/home.js"
		th:src="@{/home.js}"></script>
	<link rel="stylesheet" type="text/css" href="../static/home.css"
		th:href="@{/home.css}" />

</th:block>

</head>
<body>

	<div id="event-header">Events</div>

	<div id="event-nav"
		th:replace="~{fragments/app-fragments :: nav-default}">Home Nav
	</div>

	<div id="event-main-content">
		<div class="event flex-wrap">
			<div th:each="ev,iter : ${portals}" th:remove="tag">
				<a th:href="@{${'/event/' + ev.code}}"
					class="event-banner margin-10 drop-item bold  pad-10"> <img
					th:src="@{${'/img/icon/' + ev.icon }}" />  <span
					th:text="#{${ev.name}}" >name</span> </a>
			</div>
		</div>
		<div class="pad-10">
			<div class="event-banner drop-item bold pad-10" style="font-size: 30px;">Reminiscence</div>
		</div>
		<div class="event flex-wrap">
			<div th:each="ev,iter : ${remi}" th:remove="tag">
				<a th:href="@{${'/event/' + ev.code}}"
					class="event-banner margin-10 drop-item bold"> <img class="h125px pad-10"
					th:src="@{${'/img/icon/' + ev.icon }}" /> <span
					th:text="#{${ev.name}}" >desc</span> 
				</a>
			</div>
		</div>
	</div>


	<div id="event-footer"
		th:replace="~{fragments/app-fragments :: copyright}">Footer</div>


</body>
</html>