<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #event-static-resources},
                                                ~{:: #event-header},
                                                ~{:: #event-nav},
                                                ~{:: #event-main-content},  
                                                ~{:: #event-footer}
                                               )}">

<head>
<title th:text="#{${group.name}}"></title>

<th:block id="event-static-resources">

	<script type="text/javascript" src="../static/home.js"
		th:src="@{/home.js}"></script>
	<link rel="stylesheet" type="text/css" href="../static/home.css"
		th:href="@{/home.css}" />

</th:block>

</head>
<body>


	<div id="event-header" class="flex flex-column">

		<div th:if="${portal}" class="flex flex-row pad-left-10 font-20">
			<div class="pad-left-5">
				<a th:href="@{${'/event'  }}">Event</a>
			</div>
			<div class="pad-left-5">/</div>
			<div class="pad-left-5">
				<a th:href="@{${'/event/' + portal.code }}"
					th:text="#{${portal.name}}"> </a>
			</div>
			<div class="pad-left-5">/</div>
		</div>

		<div th:if="${group.atype}==1"
			class="flex flex-row pad-left-10 font-20">
			<div class="pad-left-5">
				<a th:href="@{${'/story'  }}">Story</a>
			</div>
			<div class="pad-left-5">/</div>
		</div>
		<div th:if="${portal == null} and ${group.atype}==2"
			class="flex flex-row pad-left-10 font-20">
			<div class="pad-left-5">
				<a th:href="@{${'/extra'  }}">Extra</a>
			</div>
			<div class="pad-left-5">/</div>
		</div>
		<div th:if="${portal == null} and ${group.atype}==5"
			class="flex flex-row pad-left-10 font-20">
			<div class="pad-left-5">
				<a th:href="@{${'/extra'  }}">Daily</a>
			</div>
			<div class="pad-left-5">/</div>
		</div>
		<div th:if="${portal == null} and ${group.atype}==4"
			class="flex flex-row pad-left-10 font-20">
			<div class="pad-left-5">
				<a th:href="@{${'/battleroad'  }}">Battle Road</a>
			</div>
			<div class="pad-left-5">/</div>
		</div>

		<div th:text="#{${group.name}}"></div>
	</div>

	<div id="event-nav"
		th:replace="~{fragments/app-fragments :: nav-default}">Home Nav
	</div>

	<div id="event-main-content">
		<div class="event flex-wrap">
			<div th:each="ev,iter : ${areas}"
				class="event-banner drop-item bold margin-10 pad-10">
				<a th:href="@{${'/event/area/' + ev.code}}" class="banner-container">
					<span
					th:class="@{${'flex_center_row banner-text text-' + ev.atype }}"
					th:text="#{${ev.name }}"></span> <img class="h100px pad5"
					th:src="@{${'/img/icon/' + ev.icon }}" />
				</a>
			</div>
		</div>
	</div>


	<div id="event-footer"
		th:replace="~{fragments/app-fragments :: copyright}">Footer</div>


</body>
</html>