<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="main-fragment (title, otherStaticResources, header, nav, mainContent, footer)">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:replace="${title}">Page 1 Title</title>


<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"
	href="../static/css/main.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"
	href="../static/css/style.css" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script type="text/javascript" async="true"
	src="https://www.googletagmanager.com/gtag/js?id=G-G0WZPNE21P"></script>
<script th:inline="javascript">
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'G-G0WZPNE21P');
</script>
<th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>
<script type="text/javascript">
	function openNav() {
		document.getElementById("openbtn").style.display = "unset";
		document.getElementById("nav-list").style.display = "unset";
		document.getElementById("nav-menu").style.display = "none";
	}

	function closeNav() {
		document.getElementById("openbtn").style.display = "none";
		document.getElementById("nav-list").style.display = "none";
		document.getElementById("nav-menu").style.display = "unset";
	}
</script>

</head>

<body>

	<header>
		<div class="nav_container">
			<nav th:insert="${nav} ?: ~{}">
				<ul>
					<li><a href="#">Page 1</a></li>
					<li><a href="#">Page 2</a></li>
				</ul>

			</nav>
		</div>
		<div class="head" th:insert="${header} ?: ~{}"></div>
	</header>

	<section>


		<article th:insert="${mainContent} ?: ~{}">
			<h1>Page 1</h1>
			<p>Main content of Page 1</p>
		</article>
	</section>

	<footer th:insert="${footer} ?: ~{}">
		<p>Footer</p>
	</footer>


</body>
</html>