<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #passives-static-resources},
                                                ~{:: #passives-header},
                                                ~{:: #passives-nav},
                                                ~{:: #passives-content},  
                                                ~{:: #passives-footer}
                                               )}">

<head>
<title>Passive list</title>

<th:block id="passives-static-resources">
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.5.1.js">
		
	</script>


	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.11.5/js/dataTables.jqueryui.min.js"></script>

	<link rel="stylesheet" type="text/css"
		href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/1.11.5/css/dataTables.jqueryui.min.css">
</th:block>

</head>
<body>

	<div id="passives-header">Passive List</div>

	<div id="passives-nav"
		th:replace="~{fragments/app-fragments :: nav-default}">Nav</div>

	<div id="passives-content">


		<div>
			<div class="units">
				<div>
					<table id="example" class="display cell-border" style="width: 100%">
						<thead>
							<tr>
								<th>Name</th>
								<th>Description</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Name</th>
								<th>Description</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>


		<script type="text/javascript" src="json/passive_name.js"></script>
		<script type="text/javascript" src="json/passive_desc.js"></script>
		<script>
			var loc = "[[${#locale}]]";
			$('#example')
					.DataTable(
							{
								"paging" : true,
								"order" : [ 0, "asc" ],
								"pageLength" : 25,
								"ajax" : {
									"url" : "/passives/q",
									"type" : "POST",
									"dataType" : "json",
									"dataSrc" : "",
									"contentType" : "application/json",
									"data" : function(d) {
										return JSON.stringify(d);
									}
								},
								"columns" : [
										{
											"data" : "code",
											"render" : function(data, type,
													row, meta) {
												let name = '';
												if (loc === 'ja') {
													name = passive_name_ja[row['name']];
												} else if (loc === 'fr') {
													name = passive_name_fr[row['name']] ? passive_name_fr[row['name']]
															: skill_name_ja[row['name']];
												} else {
													name = passive_name_en[row['name']] ? passive_name_en[row['name']]
															: passive_name_ja[row['name']];
												}
												name = name.replaceAll(
														/<.+?>/g, row['var']);

												return '<a href="/passive/' + data + '">'
														+ name + '</a>';
											}
										},
										{
											"data" : "description",
											"render" : function(data, type,
													row, meta) {
												var desc = '';
												if (loc === 'ja') {
													desc = passive_desc_ja[row['description']];
												} else if (loc === 'fr') {
													desc = passive_desc_fr[row['description']] ? passive_desc_fr[row['description']]
															: passive_desc_ja[row['description']];
												} else {
													desc = passive_desc_en[row['description']] ? passive_desc_en[row['description']]
															: passive_desc_ja[row['description']];
												}

												return desc;

											}
										} ],
							});
		</script>
	</div>


	<div id="passives-footer"
		th:replace="~{fragments/app-fragments :: copyright}">Footer</div>


</body>
</html>