<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #skill-static-resources},
                                                ~{:: #skill-header},
                                                ~{:: #skill-nav},
                                                ~{:: #skill-content},  
                                                ~{:: #skill-footer}
                                               )}">

<head>
<title th:text="#{${skill.name}}"></title>

<th:block id="skill-static-resources">
	<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
		type="text/javascript"></script>
	<script>		
	</script>
	<script>
	var enh = [(${enhancement})];

	function applyEnhanc(val) {
	    var defMp = $('#mp').data("val");
	    var defMul = $('#mul').data("val") / 10;
	    var defAddBase = $('#baseDamage').data("val");
	    var defAilAcc = $('#ailAcc').data("val");
	    var defBuffAcc = $('#buffAcc').data("val");
	    var index = val.val();
	    if (val.val() == 0) {
	        $('#mp').text(defMp);
	        $('#mul').text(($('#mul').data("val") / 10) + "%");
	        $('#baseDamage').text(($('#baseDamage').data("val")));
	        $('#ailAcc').text(($('#ailAcc').data("val")));
	        $('#buffAcc').text(($('#buffAcc').data("val")));
	    } else {
	        var mp = enh[index].mp;
	        var mul = 0;
	        var add = 0;
	        var ailAcc = 0;
	        var buffAcc = 0;
	        if (enh[index].damage_mul != 0) {
	            mul = enh[index].damage_mul;
	        }
	        if (enh[index].healing_mul != 0) {
	            mul = enh[index].healing_mul;
	        }
	        if (enh[index].healing_mul != 0) {
	            mul = enh[index].healing_mul;
	        }
	        if (enh[index].mp_healing_add != 0) {
	            add = enh[index].mp_healing_add;
	        }
	        if (enh[index].ail_acc != 0) {
	            ailAcc = enh[index].ail_acc;
	        }
	        if (enh[index].buff_acc != 0) {
	            buffAcc = enh[index].buff_acc;
	        }
	        if (mp != 0) {
	            $('#mp').text((defMp - mp));
	        }
	        if (mul != 0) {
	            $('#mul').text(((defMul * mul / 100) + defMul) + "%");
	            $('#baseDamage').text(((defAddBase * mul / 100) + defAddBase));
	        }
	        if (add != 0) {
	            $('#baseDamage').text((defAddBase + add));
	        }
	        if (ailAcc != 0) {
	            $('#ailAcc').text((defAilAcc + ailAcc));
	        }
	        if (buffAcc != 0) {
	            $('#buffAcc').text((defBuffAcc + buffAcc));
	        }
	    }
	}
	$(document).ready(function() {
	    $("#enhancement").on("change", function() {
	        var lev = $(this);
	        applyEnhanc(lev);
	    });
	});

	window.onload = function() {
	    enhance.reset();
	}
	</script>
</th:block>

</head>
<body>
	<div id="skill-header" class="flex_center_row">
		<div>
			<div
				th:classappend="${skill.rarity.code==30} ? skill_frame : skill_frame2"
				th:style="@{${'background-image: url(/img/icon/' + skill.button+');' }}">
				<span class="skill_frame_centerer"></span>
				<img th:src="@{${'/img/icon/' + skill.icon }}" />
			</div>
		</div>
		<div th:text="#{${skill.name}}" class="pad-left-10"></div>
		<div class="pad-left-10">
			<img th:src="@{${'/img/icon/' + skill.element.icon }}" />
		</div>
	</div>

	<div id="skill-nav"
		th:replace="~{fragments/app-fragments :: nav-default}">Nav</div>

	<div id="skill-content" class="grid">
		<div  class="enhance-level">
			<form name="enhance" class="form-group">
				<select class="form-control" id="enhancement">
					<option th:each="i: ${#numbers.sequence(0, 10)}"
						th:selected="${i == 0}" th:value="${i}"
						th:text="${'enhancement +'+i}"></option>
				</select>
			</form>
		</div>
		<div class="flex_center_row pad-10">

			<div class="skill-item bold flex-column pad-10">
				<span th:text="Rarity" class="header"></span>
				<div class="skill-sub-item icon_container_small">
					<img class="center"
						th:src="@{${'/img/icon/' + skill.rarity.icon }}" />
				</div>
			</div>
			<div class="skill-item bold flex-column pad-10">
				<span th:text="Shape" class="header"></span>
				<div class="skill-sub-item">
					<img th:src="@{${'/img/icon/' + skill.range }}" />
				</div>
			</div>

			<div class="skill-item bold flex-column pad-10">
				<span th:text="Range" class="header"></span>
				<div th:text="#{${skill.reach}}" class="skill-sub-item">reach</div>
			</div>
			<div class="skill-item bold flex-column pad-10">
				<span th:text="MP" class="header"></span>
				<div th:text="${skill.mp}" class="skill-sub-item" id="mp"
					th:attr="data-val=${skill.mp}">mp</div>
			</div>
			<div th:if="${skill.baseDamage}"
				class="skill-item bold flex-column pad-10">
				<span
					th:text="${skill.damageCalculation ==4|| skill.damageCalculation ==7} ? 'Base Heal' : 'Base Damage' "
					class="header"></span>
				<div th:text="${skill.baseDamage}" class="skill-sub-item"
					id="baseDamage" th:attr="data-val=${skill.baseDamage}">base
					dmg</div>
			</div>
			<div th:if="${skill.minDamage}"
				class="skill-item bold flex-column pad-10">
				<span
					th:text="${skill.damageCalculation ==5|| skill.damageCalculation ==7} ? 'Min Heal' : 'Min Damage' "
					class="header"></span>
				<div th:text="${skill.minDamage}" class="skill-sub-item"
					id="minDamage">min dmg</div>
			</div>
			<div th:if="${skill.maxDamage}"
				class="skill-item bold flex-column pad-10">
				<span
					th:text="${skill.damageCalculation ==5 || skill.damageCalculation ==7} ? 'Max Heal' : 'Max Damage' "
					class="header"></span>
				<div th:text="${skill.maxDamage}" class="skill-sub-item"
					id="maxDamage">max dmg</div>
			</div>
			<div th:if="${skill.accuracy}"
				class="skill-item bold flex-column pad-10">
				<span th:text="'Hit Rate'" class="header"></span>
				<div th:text="${skill.accuracy + '%'}" class="skill-sub-item"
					id="acc">acc</div>
			</div>

			<div th:if="${skill.multiplier}"
				class="skill-item bold flex-column pad-10">
				<span th:text="Multiplier" class="header"></span>
				<div th:text="${(skill.multiplier/10)+'%'}" class="skill-sub-item"
					id="mul" th:attr="data-val=${skill.multiplier}">mul</div>
			</div>

			<!-- 	<div th:if="${skill.maxMul}"
				class="skill-item bold flex-column pad-10">
				<span th:text="'+10 Multiplier'" class="header"></span>
				<div th:text="${skill.strMaxMul+'%'}" class="skill-sub-item">max
					mul</div>
			</div> -->
			<div th:if="not ${#lists.isEmpty(skill.buffs)}"
				class="skill-item bold flex-column pad-10">
				<span th:text="'Status Change'" class="header"></span>
				<div th:each="sb,iter : ${skill.buffs}" th:remove="tag">
					<div class="skill-sub-item" th:with=desc=#{${sb.buff.descFormat}}>
						<div>
							<span th:text="${sb.accuracy}" id="buffAcc"
								th:attr="data-val=${sb.accuracy}"></span>
							<span th:text="'% chance'"></span>
						</div>
						<div th:text="${sb.duration}"></div>
						<div th:with=name=#{${sb.buff.name}}>
							<div th:with=suffix=#{${sb.suffix}}>
								<div th:with=val=${sb.buff.level[sb.level]}>
									<span
										th:with="desc=${#strings.replace(desc,'<effectValue>', val)}">
										<span
											th:with="desc=${#strings.replace(desc,'<statusChangeTo>', suffix)}">
											<a th:href="@{${'/buff/' + sb.buff.code }}"
												th:text="${#strings.replace(desc,'<statusName>', name)}"
												class="skill-sub-item">Status Change</a>
										</span>
									</span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div th:if="not ${#lists.isEmpty(skill.ailments)}"
				class="skill-item bold flex-column pad-10">
				<span th:text="'Status Ailment'" class="header"></span>
				<div th:each="sa,iter : ${skill.ailments}" th:remove="tag">
					<div class="skill-sub-item">
						<div>
							<span th:text=" ${sa.accuracy} " id="ailAcc"
								th:attr="data-val=${sa.accuracy}"></span>
							<span th:text="'% chance'"></span>
						</div>
						<div th:text="${sa.duration} "></div>
						<a th:href="@{${'/ailment/' + sa.ailment.code }}"
							th:text="#{${sa.ailment.name}} ">status ailment</a>

					</div>
				</div>
			</div>
			<div th:if="not ${#lists.isEmpty(skill.effects)}"
				class="skill-item bold flex-column pad-10">
				<span th:text="'Other Effect'" class="header"></span>
				<div th:each="se,iter : ${skill.effects}" th:remove="tag">
					<div class="skill-sub-item" th:if="${skill.activeSkillAction ==3}"
						th:with="type=${se.damageCalculation}==7?' mp':' hp'">
						<div th:if="${se.duration > 0}" th:text="${se.strDuration} "></div>
						<div th:if="${skill.activeSkill ==4}"
							th:text="${se.duration == 0 ? 'recover '+se.minDamage+'-'+se.maxDamage+type :  se.minDamage+'-'+se.maxDamage+type+' regen' } ">other
							effect</div>
						<div th:if="${skill.activeSkill ==3}"
							th:text="${se.duration == 0 ? 'recover '+se.baseDamage + type :  se.baseDamage+type+' regen' } ">other
							effect</div>
					</div>
					<div class="skill-sub-item" th:if="${skill.activeSkillAction ==2}">
						<div
							th:text="${'recover hp by '+(se.healMul/10)+'% damage inflicted' } ">other
							effect</div>
					</div>
				</div>
			</div>
			<div th:with="desctr=#{${skill.description}}"
				class="skill-item bold flex-column pad-10">
				<span th:text="Description" class="header"></span>
				<div
					th:with="desc1=${#strings.replace(desctr,'<damagePhysics>', skill.strMul)}">
					<div
						th:with="desc2=${#strings.replace(desc1,'<specialCoolTurn>', skill.turn)}">
						<div th:if="not ${#lists.isEmpty(skill.buffs)}"
							th:with="desc3=${#strings.replace(desc2,'<Turn1>',skill.buffs[0].maxDur)}">
							<div th:text="${desc3}" class="skill-sub-item">desc</div>
						</div>
						<div th:if="${#lists.isEmpty(skill.buffs)}">
							<div th:text="${desc2}" class="skill-sub-item">desc</div>
						</div>

					</div>
				</div>
			</div>

		</div>

		<div class="learned">
			<div class="header bold">Learned by:</div>
			<div class="flex_center_row">
				<div th:each="unit : ${units}" th:remove="tag">
					<div class="frame-container" th:title="#{${unit.name}}">
						<div class="framez">
							<img th:src="@{${'/img/icon/' + unit.rarity.background }}" />
						</div>
						<div class="prof">
							<img th:src="@{${'/img/icon/' + unit.icon }}" />

						</div>
						<div class="framez">
							<a th:href="@{${'/unit/' + unit.code}}">
								<img th:src="@{${'/img/icon/' + unit.rarity.frame }}" />
							</a>
						</div>
						<div class="rarity">
							<img th:src="@{${'/img/icon/' + unit.rarity.icon }}" />
						</div>

					</div>
					<!-- 	<a class="learned-item" th:href="@{${'/unit/' + unit.code}}"><img
						th:src="@{${'/img/icon/' + unit.icon }}" /></a> -->
				</div>
			</div>
		</div>

	</div>

	<div id="skill-footer"
		th:replace="~{fragments/app-fragments :: copyright}">Footer</div>


</body>
</html>