<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #skill-static-resources},
                                                ~{:: #skill-header},
                                                ~{:: #skill-nav},
                                                ~{:: #skill-content},  
                                                ~{:: #skill-footer}
                                               )}">

<head>
<title>Skill list</title>

<th:block id="skill-static-resources">
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.5.1.js">
		
	</script>


	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.11.5/js/dataTables.jqueryui.min.js"></script>

	<link rel="stylesheet" type="text/css"
		href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/1.11.5/css/dataTables.jqueryui.min.css">
</th:block>

</head>
<body>

	<div id="skill-header">Skill List</div>

	<div id="skill-nav"
		th:replace="~{fragments/app-fragments :: nav-default}">Nav</div>

	<div id="skill-content">


		<div>
			<div class="units">
				<div>
					<!-- <label>name : <input type="search" class="" placeholder=""
						aria-controls="example"></label>
					<div></div> -->
					<form name="fele" style="padding: 1px">
						Element : <label><input type="radio" name="ele"
							value="Mera"> <img title="Frizz"
								src="/img/icon/SpellIcon_Mera.png"></label> <label><input
							type="radio" name="ele" value="Gira"> <img title="Sizz"
								src="/img/icon/SpellIcon_Gira.png"></label><label><input
							type="radio" name="ele" value="Hyado"> <img title="Crack"
								src="/img/icon/SpellIcon_Hyado.png"></label><label><input
							type="radio" name="ele" value="Bagi"> <img title="Woosh"
								src="/img/icon/SpellIcon_Bagi.png"></label><label><input
							type="radio" name="ele" value="Io"> <img title="Bang"
								src="/img/icon/SpellIcon_Io.png"></label><label><input
							type="radio" name="ele" value="Dein"> <img title="Zap"
								src="/img/icon/SpellIcon_Dein.png"></label><label><input
							type="radio" name="ele" value="Dorma"> <img title="Zam"
								src="/img/icon/Spellcon_Dorma.png"></label><label><input
							type="radio" name="ele" value="Mu"> <img title="Typeless"
								src="/img/icon/SpellIcon_Mu.png"></label><label><input
							type="radio" name="ele" value="" checked="checked"> <img
								title="All" src="/img/icon/all.png"></label>
					</form>
					<div></div>

					<form name="ftype" style="padding: 1px">
						Type : <label><input type="radio" name="type"
							value="Physics">
						<img title="Physics" src="/img/icon/SkillTypeIcon_Physics.png"></label><label><input
							type="radio" name="type" value="Breath">
						<img title="Breath" src="/img/icon/SkillTypeIcon_Breath.png"></label><label><input
							type="radio" name="type" value="Spell">
						<img title="Spell" src="/img/icon/SkillTypeIcon_Spell.png"></label><label><input
							type="radio" name="type" value="Technique">
						<img title="Technique" src="/img/icon/SkillTypeIcon_Technique.png"></label><label><input
							type="radio" name="type" value="" checked="checked">
						<img title="All" src="/img/icon/all.png"></label>
					</form>

					<div></div>
					<form name="frank" style="padding: 1px">
						Rarity : <label><input type="radio" name="rank" value="30">
						<img title="A" src="/img/icon/MonsterRankIcon_A.png"></label> <label><input
							type="radio" name="rank" value="20">
						<img title="B" src="/img/icon/MonsterRankIcon_B.png"></label> <label><input
							type="radio" name="rank" value="10">
						<img title="C" src="/img/icon/MonsterRankIcon_C.png"></label> <label><input
							type="radio" name="rank" value="" checked="checked">
						<img title="All" src="/img/icon/all.png"></label>
					</form>
					<div></div>
					<table id="example" class="display cell-border" style="width: 100%">
						<thead>
							<tr>
								<th>Icon</th>
								<th>Name</th>
								<th>Rarity</th>
								<th>Element</th>
								<th>MP</th>
								<th>Base Dmg</th>
								<th>Min Dmg</th>
								<th>Max Dmg</th>
								<th>Multiplier</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Icon</th>
								<th>Name</th>
								<th>Rarity</th>
								<th>Element</th>
								<th>MP</th>
								<th>Base Dmg</th>
								<th>Min Dmg</th>
								<th>Max Dmg</th>
								<th>Multiplier</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>


		<script type="text/javascript" src="json/skill_name.js"></script>
		<script>
			var loc = "[[${#locale}]]";
			$('#example')
					.DataTable(
							{
								"paging" : true,
								"order" : [ 1, "asc" ],
								"pageLength" : 25,
								"ajax" : {
									"url" : "/skills/q",
									"type" : "POST",
									"dataType" : "json",
									"dataSrc" : "",
									"contentType" : "application/json",
									"data" : function(d) {
										return JSON.stringify(d);
									}
								},
								"columns" : [
										{
											"data" : "icon",
											"render" : function(data, type,
													row, meta) {
												if (type === "sort"
														|| type === 'type'
														|| type === 'filter') {
													return '[' + data + ']';
												}
												return '<div style="background-image: url(/img/icon/'
														+ row['button']
														+ ');" class="'
														+ (row['rarity']['code'] == 30 ? 'skill_frame'
																: 'skill_frame2')
														+ '"><span class="skill_frame_centerer"></span><img src="/img/icon/' + data + '"></div>';
											}

										},
										{
											"data" : "code",
											"render" : function(data, type,
													row, meta) {
												var skill_name = '';
												if (loc === 'ja') {
													skill_name = skill_name_ja[row['name']];
												} else if (loc === 'fr') {
													skill_name = skill_name_fr[row['name']] ? skill_name_fr[row['name']]
															: skill_name_ja[row['name']];
												} else {
													skill_name = skill_name_en[row['name']] ? skill_name_en[row['name']]
															: skill_name_ja[row['name']];
												}

												return '<a href="/skill/' + data + '">'
														+ skill_name + '</a>';
											}
										},
										{
											"data" : "rarity",
											"render" : function(data, type,
													row, meta) {
												if (type === "sort"
														|| type === 'type') {
													return data['code'];
												} else {
													return '<div class="icon_container_very_small"><img src="/img/icon/' + data['icon'] + '" /></div>';
												}
											}
										},
										{
											"data" : "element",
											"render" : function(data, type,
													row, meta) {
												if (type === "sort"
														|| type === 'type') {
													return data['code'];
												} else {
													return '<div class="icon_container_small"><img src="/img/icon/' + data['icon'] + '" /></div>';
												}
											}
										},
										{
											"data" : "mp",
										},
										{
											"data" : "baseDamage",
											"width" : "10px"
										},
										{
											"data" : "minDamage",
											"width" : "10px"
										},
										{
											"data" : "maxDamage",
											"width" : "10px"
										},
										{
											"data" : "multiplier",
											"render" : function(data, type,
													row, meta) {
												return data / 10 + '%';
											}
										} ],
							});
			$('input:radio[name=type]').change(function() {
				$('#example').DataTable().columns(0).search(this.value).draw();
			});

			$('input:radio[name=ele]').change(function() {
				$('#example').DataTable().columns(3).search(this.value).draw();
			});
			$('input:radio[name=rank]').change(function() {
				$('#example').DataTable().columns(2).search(this.value).draw();
			});
			window.onload = function() {
				fele.reset();
				ftype.reset();
				frank.reset();
			}
		</script>
	</div>




	<div id="skill-footer"
		th:replace="~{fragments/app-fragments :: copyright}">Footer</div>


</body>
</html>