<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #story-static-resources},
                                                ~{:: #story-header},
                                                ~{:: #story-nav},
                                                ~{:: #story-main-content},  
                                                ~{:: #story-footer}
                                               )}">

<head>
<title>Story Quest</title>

<th:block id="story-static-resources">

	<script type="text/javascript" src="../static/home.js"
		th:src="@{/home.js}"></script>
	<link rel="stylesheet" type="text/css" href="../static/home.css"
		th:href="@{/home.css}" />

</th:block>

</head>
<body>

	<div id="story-header">Story Quest</div>

	<div id="story-nav"
		th:replace="~{fragments/app-fragments :: nav-default}">Home Nav
	</div>

	<div id="story-main-content">
		<div class="event">
			<div th:each="ev,iter : ${lists}" class="event-banner drop-item bold margin-10 pad-10">
				<div th:text="${ev.name}" class="skill-sub-item">desc</div>
				<a class="h100px pad5" th:href="@{${'/event/group/' + ev.code}}"> <img  th:src="@{${'/img/icon/' + ev.icon }}" /></a>

			</div>
		</div>
	</div>


	<div id="story-footer"
		th:replace="~{fragments/app-fragments :: copyright}">Footer</div>


</body>
</html>