<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #units-static-resources},
                                                ~{:: #units-header},
                                                ~{:: #units-nav},
                                                ~{:: #units-content},  
                                                ~{:: #units-footer}
                                               )}">

<head>
<title>Unit list</title>

<th:block id="units-static-resources">
	<script type="text/javascript" charset="utf8"
		src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.11.5/js/dataTables.jqueryui.min.js"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>

	<link rel="stylesheet" type="text/css"
		href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/1.11.5/css/dataTables.jqueryui.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

</th:block>

</head>
<body>

	<div id="units-header">
		<div>Unit List</div>
	</div>

	<div id="units-nav"
		th:replace="~{fragments/app-fragments :: nav-default}">Nav</div>

	<div id="units-content">


		<div>
			<div class="units">
				<div>
					<form name="frank" class="form-filter">
						<div class="form-name">Rarity:</div>
						<div class="form-radio">
							<label><input type="radio" name="rank"
								value="MonsterRankIcon_S"> <img title="S"
									src="/img/icon/MonsterRankIcon_S.png"></label><label><input
								type="radio" name="rank" value="MonsterRankIcon_A"> <img
									title="A" src="/img/icon/MonsterRankIcon_A.png"></label> <label><input
								type="radio" name="rank" value="MonsterRankIcon_B"> <img
									title="B" src="/img/icon/MonsterRankIcon_B.png"></label> <label><input
								type="radio" name="rank" value="MonsterRankIcon_C"> <img
									title="C" src="/img/icon/MonsterRankIcon_C.png"></label> <label><input
								type="radio" name="rank" value="MonsterRankIcon_D"> <img
									title="D" src="/img/icon/MonsterRankIcon_D.png"></label> <label><input
								type="radio" name="rank" value="MonsterRankIcon_E"> <img
									title="E" src="/img/icon/MonsterRankIcon_E.png"></label> <label><input
								type="radio" name="rank" value="MonsterRankIcon_F"> <img
									title="F" src="/img/icon/MonsterRankIcon_F.png"></label> <label><input
								type="radio" name="rank" value="" checked="checked"> <img
									title="All" src="/img/icon/all.png"></label>
						</div>
					</form>
					<form name="ffam" class="form-filter">
						<div class="form-name">Family:</div>
						<div class="form-radio">
							<label><input type="radio" name="family" value="Slime">
								<img title="Slime"
									src="/img/icon/EquipmentIcon_SlimeFamilly.png"></label> <label><input
								type="radio" name="family" value="Dragon"> <img
									title="Dragon" src="/img/icon/EquipmentIcon_DragonFamilly.png"></label>
							<label><input type="radio" name="family" value="Nature">
								<img title="Nature"
									src="/img/icon/EquipmentIcon_NatureFamilly.png"></label> <label><input
								type="radio" name="family" value="Beast"> <img
									title="Beast" src="/img/icon/EquipmentIcon_BeastFamilly.png"></label>
							<label><input type="radio" name="family" value="Material">
								<img title="Inorganic"
									src="/img/icon/EquipmentIcon_MaterialFamilly.png"></label> <label><input
								type="radio" name="family" value="Devil"> <img
									title="Demon" src="/img/icon/EquipmentIcon_DevilFamilly.png"></label>
							<label><input type="radio" name="family" value="Zombie">
								<img title="Undead"
									src="/img/icon/EquipmentIcon_ZombieFamilly.png"></label> <label><input
								type="radio" name="family" value="Special"> <img
									title="???" src="/img/icon/EquipmentIcon_SpecialFamily.png"></label>
							<label><input type="radio" name="family" value="Hero">
								<img title="Hero" src="/img/icon/EquipmentIcon_HeroFamily.png"></label>
							<label><input type="radio" name="family" value=""
								checked="checked"> <img title="All"
									src="/img/icon/all.png"></label>
						</div>
					</form>

					<form name="ftb" style="padding: 1px">
						<label><input type="checkbox" name="family" id="talent"
							value="1">Show only units with talent blossoming</label>
					</form>
					<table id="example" class="display nowrap" style="width: 100%">
						<thead>
							<tr>
								<th>Icon</th>
								<th>Name</th>
								<th>Rarity</th>
								<th>Family</th>
								<th>Lv</th>
								<th>HP</th>
								<th>MP</th>
								<th>ATK</th>
								<th>DEF</th>
								<th>WIS</th>
								<th>AGI</th>
								<th>MOV</th>
								<th>WEI</th>
								<th><img th:style="'height:15px;'" title="Talent Blossom"
										src="/img/TrainingPointIcon.png" /></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Icon</th>
								<th>Name</th>
								<th>Rarity</th>
								<th>Family</th>
								<th>Lv</th>
								<th>HP</th>
								<th>MP</th>
								<th>ATK</th>
								<th>DEF</th>
								<th>WIS</th>
								<th>AGI</th>
								<th>MOV</th>
								<th>WEI</th>
								<th><img th:style="'height:15px;'" title="Talent Blossom"
										src="/img/TrainingPointIcon.png" /></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="json/profile.js"></script>
		<script>
			var loc = "[[${#locale}]]";
			$('#example')
					.DataTable(
							{
								"paging" : true,
								"pageLength" : 25,
								"order" : [ 1, "asc" ],
								"responsive" : true,
								"columnDefs" : [ {
									"targets" : [ 13 ],
									"visible" : false
								} ],
								"rowCallback" : function(row, data) {
									let html = '<div class="frame-container-s"><div class="framez-s"><img src="/img/icon/' +
								        data.rarity['background'] + '" /></div><div class="prof-s"><img src="/img/icon/'
											+ encodeURIComponent(data.icon)
											+ '" /></div><div class="framez-s"><img src="/img/icon/' + data.rarity['frame'] +
								        '" /></div></div>';
									$('td:eq(0)', row).html(html);
								},
								"ajax" : {
									"url" : "/units/q",
									"type" : "POST",
									"dataType" : "json",
									"dataSrc" : "",
									"contentType" : "application/json",
									"data" : function(d) {
										return JSON.stringify(d);
									}
								},
								"columns" : [
										{
											"data" : "icon",
											"render" : function(data, type,
													row, meta) {
												if (type === "sort"
														|| type === 'type') {
													return data;
												} else {
													return '<div></div>';
												}
											}
										},
										{
											"data" : "code",
											"width" : "150px",
											"render" : function(data, type,
													row, meta) {
												var name = '';
												if (loc === 'ja') {
													name = profile_ja[row['name']];
												} else if (loc === 'fr') {
													name = profile_fr[row['name']] ? profile_fr[row['name']]
															: profile_ja[row['name']];
												} else {
													name = profile_en[row['name']] ? profile_en[row['name']]
															: profile_ja[row['name']];
												}
												return '<a href="/unit/' + data + '">'
														+ name + '</a>';
											}
										},
										{
											"data" : "rarity",
											"render" : function(data, type,
													row, meta) {
												if (type === "sort"
														|| type === 'type') {
													return data['code'];
												} else {
													return '<div class="icon_container_very_small"><img src="/img/icon/' + data['icon'] + '" /></div>';
												}
											}
										},
										{
											"data" : "family",
											"width" : "10px",
											"render" : function(data, type,
													row, meta) {
												if (type === "sort"
														|| type === 'type') {
													return data['code'];
												} else {
													return '<div class="icon_container_small"><img src="/img/icon/' + data['icon'] + '" /></div>';
												}
											}
										}, {
											"data" : "stats[0].level",
										}, {
											"data" : "stats[0].hp",
										}, {
											"data" : "stats[0].mp",
										}, {
											"data" : "stats[0].attack",
										}, {
											"data" : "stats[0].defense",
										}, {
											"data" : "stats[0].intelligence",
										}, {
											"data" : "stats[0].agility",
										}, {
											"data" : "stats[0].mobility",
										}, {
											"data" : "weight",
										}, {
											"data" : "talent",
										} ],
							});
			$('input:radio[name=rank]').change(function() {
				$('#example').DataTable().columns(2).search(this.value).draw();
			});

			$('input:radio[name=family]').change(function() {
				$('#example').DataTable().columns(3).search(this.value).draw();
			});

			$('#talent').change(function() {
				if ($(this).is(':checked')) {
					console.log(this.value);
					$('#example').DataTable().columns(13).search("1").draw();
				} else {
					$('#example').DataTable().columns(13).search("").draw();
				}
			});
			window.onload = function() {
				frank.reset();
				ffam.reset();
				ftb.reset();
			}
		</script>
	</div>




	<div id="units-footer"
		th:replace="~{fragments/app-fragments :: copyright}">Footer</div>


</body>
</html>