<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #unit-static-resources},
                                                ~{:: #unit-header},
                                                ~{:: #unit-nav},
                                                ~{:: #unit-content},  
                                                ~{:: #unit-footer}
                                               )}">

<head>
<title th:text="#{${unit.name}}"></title>

<th:block id="unit-static-resources">
	<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
		type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/unit.css}"
		href="../static/css/unit.css" />

	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script>
		var pass  = [(${passAdd})]  ;
		var stats = [(${stats})];
		var rank = [(${maxRank})];
		var awak = 0;
		var awakAdd = [(${awaAdd})];
		var awakMul = [(${awaMul})]; 
		var master = 0;
		var talentStats = [(${talentStats})];
		var talentAil = [(${talentAil})];
		var talentEle = [(${talentEle})];
		var awakening = [(${awakening})];
		var fullTalent = false;

		function applyStats() {
		    var level = stats[rank].level; 
		    $('#lvl').text(': ' + (stats[rank].level + (awakAdd[awak] ? awakAdd[awak].level : 0) + (pass[level] ? pass[level].level : 0)));
		    $('#hp').text(': ' + mul((stats[rank].hp + (awakAdd[awak] ? awakAdd[awak].hp : 0) + (pass[level] ? pass[level].hp : 0) + (fullTalent ? talentStats.hp : 0)), awakMul[awak].hp, masterStats[master].hp));
		    $('#mp').text(': ' + mul((stats[rank].mp + (awakAdd[awak] ? awakAdd[awak].mp : 0) + (pass[level] ? pass[level].mp : 0) + (fullTalent ? talentStats.mp : 0)), awakMul[awak].mp, masterStats[master].mp));
		    $('#atk').text(': ' + mul((stats[rank].attack + (awakAdd[awak] ? awakAdd[awak].attack : 0) + (pass[level] ? pass[level].attack : 0) + (fullTalent ? talentStats.attack : 0)), awakMul[awak].attack, masterStats[master].attack));
		    $('#def').text(': ' + mul((stats[rank].defense + (awakAdd[awak] ? awakAdd[awak].defense : 0) + (pass[level] ? pass[level].defense : 0) + (fullTalent ? talentStats.defense : 0)), awakMul[awak].defense, masterStats[master].defense));
		    $('#agi').text(': ' + mul((stats[rank].agility + (awakAdd[awak] ? awakAdd[awak].agility : 0) + (pass[level] ? pass[level].agility : 0) + (fullTalent ? talentStats.agility : 0)), awakMul[awak].agility, masterStats[master].agility));
		    $('#int').text(': ' + mul((stats[rank].intelligence + (awakAdd[awak] ? awakAdd[awak].intelligence : 0) + (pass[level] ? pass[level].intelligence : 0) + (fullTalent ? talentStats.intelligence : 0)), awakMul[awak].intelligence, masterStats[master].intelligence));
		    $('#mov').text(': ' + (stats[rank].mobility + (awakAdd[awak] ? awakAdd[awak].mobility : 0) + (pass[level] ? pass[level].mobility : 0) + (fullTalent ? talentStats.mobility : 0)));
		  
		    for(let i=0;i<Object.keys(awakening).length;i++){
		    	if(i<=awak){
					setEleres(awakening[i],talentEle  );  
				}
		    } 
			setAilres(talentAil );  
		 
		  
		}  
		function setEleres(awak,talent ){ 
			 for(let j=1;j<=7;j++){ 
				let ele= $('#ele'+j ); 
				let extra = 0;
				if(fullTalent){
					extra=talent["ele"+j];
				} 
				let value=ele.data("val")+awak["ele"+j]+extra;
				
				let percent="";
				if(value!=0){
					percent="%";
				}
				if(Math.abs(value)>100){
					ele.text((value/100)+percent);
				}else{
					ele.text(value+percent);
				}
				 $('#imgele'+j ).attr('src','/img/icon/'+resLevel(value)); 
			 }
		} 
		function setAilres(res ){ 
			 for(let j=1;j<=13;j++){ 
				let ail= $('#ail'+j ); 
				let extra = 0;
				if(fullTalent){
					extra=res["ail"+j];
				}
				let value=ail.data("val")+extra;
				let percent="";
				if(value!=0){
					percent="%";
				}
				if(Math.abs(value)>100){
					ail.text((value/100)+percent);
				}else{
					ail.text(value+percent);
				}
				 $('#imgail'+j ).attr('src','/img/icon/'+resLevel(value)); 
			 }
		} 
		function mul(val, mul1, mul2) {
		    return Math.floor(val + (val * (mul1 + mul2) / 100));
		}
		function resLevel(val) {
			let output;
	    for (i = 0; i < res.length; i++) {
	        if (val >= res[i].min && val < res[i].max) {
	        	output=res[i].icon;
	        }
	    }
	    return output;
	} 
		$(document).ready(function() {
			
		    applyStats();
		    $("#rankSelect").on("change", function() {
		        rank = $(this).val();
		        applyStats();
		    });
		    $("#awakeningSelect").on("change", function() {
		        awak = $(this).val();
		        applyStats();
		    });
		    $("#masterSelect").on("change", function() {
		        master = $(this).val();
		        applyStats();
		    });
		    if ($("#talent").is(":checked")) {
		        fullTalent = true;
		        applyStats();
		    } else {
		        fullTalent = false;
		        applyStats();
		    }
		    $("#talent").change(function() {
		        if ($(this).is(":checked")) {
		            fullTalent = true;
		            applyStats();
		        } else {
		            fullTalent = false;
		            applyStats();
		        }
		    });
		});

		window.onload = function() {
		    form1.reset();
		}
	</script>
</th:block>

</head>
<body>

	<div th:text="#{${unit.name}}" id="unit-header"></div>

	<div id="unit-nav"
		th:replace="~{fragments/app-fragments :: nav-default}">Nav</div>

	<div id="unit-content">

		<div class="content">
			<div class="grid-container">
				<div class="pp">
					<div class="pp-inner">
						<div class="unit-profile">
							<div
								th:style="'display: flex;flex-direction: row; padding:4px 0;height: 30px;'">
								<div th:title="#{${unit.family.name}}+' Family'">
									<img th:src="@{${'/img/icon/' + unit.family.icon }}" />
								</div>
								<div th:title="#{${unit.role.name}}+' role'">
									<img th:style="'height:30px;'"
										th:src="@{${'/img/icon/' + unit.role.icon  }}" />
								</div>
							</div>
							<div class="frame-container">
								<div class="framez">
									<img th:src="@{${'/img/icon/' + unit.rarity.background }}" />
								</div>
								<div class="prof">
									<img
										th:src="@{${'/img/icon/' + #uris.escapePathSegment(unit.icon) }}" />

								</div>
								<div class="framez">
									<img th:src="@{${'/img/icon/' + unit.rarity.frame }}" />
								</div>
								<div class="rarity">
									<img th:src="@{${'/img/icon/' + unit.rarity.icon }}" />
								</div>

							</div>
							<div th:style="' '">
								<div th:text="#{${unit.name}}"
									th:style="'text-align: center;font-size:25px;font-weight:bold;'">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ld" th:if="${unit.leader}">
					<div class="leader-cont">
						<div class="header bold">Leader Skill</div>
						<div th:with="name=#{${unit.leader.name}}">
							<a class="leader-item"
								th:href="@{${'/passive/' + unit.leader.code }}"
								th:text="${name.replaceAll('<.+?>', (unit.leader.var ) )}"></a>
						</div>

						<div class="leader_container">
							<img th:src="@{${'/img/icon/' + unit.leader.leadericon }}" />
						</div>
						<div class="leader-item"
							th:with="desc=#{${unit.leader.description}}">
							<div th:text="${desc.replaceAll('<.+?>', (unit.leader.var ) )}"></div>
						</div>
					</div>
					<div class="res-cont">
						<div class="drops" th:if="${hero!=null && #lists.size(hero) > 0}">
							<div th:each="h  : ${hero}" th:remove="tag">
								<div class="drop-loc">
									<div class="br-item bold">
										<a th:href="${'/event/area/' + h.code}" th:text="#{${h.name}}"></a>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
				<div class="ss">

					<div class="stats_item_cont bold">
						<span class="stats_item">LV</span>
						<span class="stats_item val" id="lvl"
							th:text="${ ': '+ unit.stats[7].level}"></span>
					</div>
					<div class="stats_item_cont bold">
						<span class="stats_item">HP</span>
						<span class="stats_item val" id="hp"
							th:text="${ ': '+ unit.stats[7].hp}"></span>
					</div>
					<div class="stats_item_cont bold">
						<span class="stats_item">MP</span>
						<span class="stats_item val" id="mp"
							th:text="${ ': '+ unit.stats[7].mp}"></span>
					</div>
					<div class="stats_item_cont bold">
						<span class="stats_item">ATK</span>
						<span class="stats_item val" id="atk"
							th:text="${ ': '+ unit.stats[7].attack}"></span>
					</div>
					<div class="stats_item_cont bold">
						<span class="stats_item">DEF</span>
						<span class="stats_item val" id="def"
							th:text="${ ': '+ unit.stats[7].defense}"></span>
					</div>
					<div class="stats_item_cont bold">
						<span class="stats_item">AGL</span>
						<span class="stats_item val" id="agi"
							th:text="${ ': '+ unit.stats[7].agility}"></span>
					</div>
					<div class="stats_item_cont bold">
						<span class="stats_item">WIS</span>
						<span class="stats_item val" id="int"
							th:text="${ ': '+ unit.stats[7].intelligence}"></span>
					</div>
					<div class="stats_item_cont bold">
						<span class="stats_item">Move</span>
						<span class="stats_item val" id="mov"
							th:text="${ ': '+ unit.stats[7].mobility}"></span>
					</div>
					<div class="stats_item_cont bold">
						<span class="stats_item">Weight</span>
						<span class="stats_item val" id="mov"
							th:text="${ ': '+ unit.weight}"></span>
					</div>

					<div class="form-group"></div>
					<form name="form1" class="flex_center_row">
						<div class="form-group" th:with="rank=${maxRank}">
							<select class="form-control" id="rankSelect">
								<option th:each="i: ${#numbers.sequence(0, rank)}"
									th:selected="${i+'' ==  rank}" th:value="${i}"
									th:text="${'Rank '+i}"></option>
							</select>
						</div>
						<div class="form-group">
							<select class="form-control" id="awakeningSelect">
								<option th:each="i: ${#numbers.sequence(0, 5)}"
									th:selected="${i == 0}" th:value="${i}"
									th:text="${'Awakening '+i}"></option>
							</select>
						</div>
						<div class="form-group" th:with="maxter=${maxter}-1">
							<select class="form-control" id="masterSelect">
								<option th:each="i: ${#numbers.sequence(0, maxter)}"
									th:selected="${i == 0}" th:value="${i}"
									th:text="${'Master Rank '+i}"></option>
							</select>
						</div>
						<div th:if="${#lists.size(unit.talents) > 0}">
							<label><input type="checkbox" name="active" id="talent"
								th:checked="false" />Full Talent Blossom</label>
						</div>
					</form>
				</div>
				<div class="sk">
					<div class="skills">
						<div class="header bold">Skills</div>
						<table class="w100">
							<thead>
								<tr>
									<th>Level</th>
									<th>Icon</th>
									<th>Name</th>
									<th>MP</th>
									<th>Element</th>
									<th>Range</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="us  : ${unit.skills}">
									<td th:if="${us.level!=9999}" th:text="${us.level}">level</td>
									<td th:if="${us.level==9999}"><img th:style="'height:25px;'"
											title="Talent Blossom" src="/img/TrainingPointIcon.png" /></td>
									<td>
										<div th:title="'Rank ' + #{${us.skill.rarity.name}}"
											th:classappend="${us.skill.rarity.code==30} ? skill_frame : skill_frame2"
											th:style="@{${'background-image: url(/img/icon/' + us.skill.button+');' }}">
											<span class="skill_frame_centerer"></span>
											<img th:src="@{${'/img/icon/' + us.skill.icon }}" />
										</div>
									</td>
									<td><a th:href="@{${'/skill/' + us.skill.code }}"
											th:text="#{${us.skill.name}}">name</a></td>
									<td th:text="${us.skill.mp}">mp</td>
									<td><img th:title="#{${us.skill.element.name}}"
											th:src="@{${'/img/icon/' + us.skill.element.icon }}" /></td>
									<td><div class="skill-range">
											<img th:src="@{${'/img/icon/' + us.skill.range }}" />
											<div th:text="#{${us.skill.reach}}"></div>
										</div></td>
									<td th:with="desctr=#{${us.skill.description}}"><div
											th:remove="tag"
											th:with="desc1=${#strings.replace(desctr,'<damagePhysics>',us.skill.strMul)}">
											<div th:remove="tag"
												th:with="desc2=${#strings.replace(desc1,'<specialCoolTurn>',us.skill.turn)}">
												<div th:remove="tag"
													th:if="not ${#lists.isEmpty(us.skill.buffs)}"
													th:with="desc3=${#strings.replace(desc2,'<Turn1>',us.skill.buffs[0].maxDur)}">
													<div th:text="${desc3}">desc</div>
												</div>
												<div th:remove="tag"
													th:if="${#lists.isEmpty(us.skill.buffs)}">
													<div th:text="${desc2}">desc</div>
												</div>
											</div>
										</div></td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>

				<div class="ps" th:if="${unit.passives}">
					<div class="skills">
						<div class="header bold">Passive</div>
						<div class="passive_awak_container" th:if="${unit.passives}">
							<div class="passive-row">
								<div class="passive_item bold passive-level">Level</div>
								<div class="passive_item bold passive-name">Name</div>
								<div class="passive_item bold passive-desc">Description</div>
							</div>

							<div th:each="up,iter : ${unit.passives}" class="passive-row"
								th:if="${up.level<9999}">
								<div th:if="${up.level<99999}"
									class="passive_item passive-level" th:text="${up.level} "></div>
								<div th:if="${up.level==99999}"
									class="passive_item passive-level">
									<img th:style="'height:25px;'" title="Talent Blossom"
										src="/img/TrainingPointIcon.png" />
								</div>
								<div th:with="desctr=#{${up.passive.name}}"
									class="passive_item passive-name">
									<a th:href="@{${'/passive/' + up.passive.code }}"
										th:text="${ desctr.replaceAll('<.+?>', (up.passive.var ) ).replaceAll('\+-', '-' )}"></a>
								</div>
								<div th:with="desctr=#{${up.passive.description}}"
									class="passive_item passive-desc">
									<div
										th:text="${ desctr.replaceAll('<.+?>', (up.passive.var ) )}"></div>
								</div>
							</div>
						</div>


					</div>
				</div>

				<div class="ak" th:if="${unit.awakenings}">

					<div class="skills">
						<div class="header bold">Awakening</div>

						<div class="passive_awak_container" th:if="${unit.awakenings}">
							<div class="passive-row">
								<div class="passive_item bold passive-level">Level</div>
								<div class="passive_item bold passive-name">Name</div>
								<div class="passive_item bold passive-desc">Description</div>
							</div>
							<div th:each="ua,iter : ${unit.awakenings}" class="passive-row">
								<div class="passive_item passive-level" th:text="${ua.level}"></div>
								<div th:with="desctr=#{${ua.awakening.name}}"
									class="passive_item passive-name">
									<a th:href="@{${'/passive/' + ua.awakening.code }}"
										th:text="${ desctr.replaceAll('<.+?>', (ua.awakening.var ) ).replaceAll('\+-', '-' )}"></a>
								</div>
								<div th:with="desctr=#{${ua.awakening.description}}"
									class="passive_item passive-desc">
									<div
										th:text="${ desctr.replaceAll('<.+?>', (ua.awakening.var ) )}"></div>
								</div>
							</div>
						</div>


					</div>
				</div>
				<div class="er">
					<div class="res-cont">
						<div class="resistance">
							<div class="header bold">Element Resistance</div>
							<div th:each="re: ${eleres}" th:remove="tag">
								<div class="res bold w300px res-grid">
									<div class="h30px grid">
										<img class="center self-center"
											th:src="@{${'/img/icon/' +re.ele.icon }}" />
									</div>
									<div class="h30px grid">
										<span class="center self-center" th:text="#{${re.ele.name }}"></span>
									</div>
									<div class="h30px grid">
										<span class="center self-center" th:text="${re.value }"
											th:id="${'ele'+re.ele.code}" th:attr="data-val=${re.value}"></span>
									</div>
									<div class="h30px grid">
										<img class="center self-center"
											th:src="@{${'/img/icon/' + re.icon  }}"
											th:id="${'imgele'+re.ele.code}" />
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="res-cont">
						<div class="drops" th:if="${#lists.size(br) > 0}">
							<div class="header bold">Battle road:</div>
							<div th:each="b  : ${br}" th:remove="tag">
								<div class="drop-loc">
									<div class="br-item">
										<a th:href="${'/event/area/' + b.code}" th:text="#{${b.name}}"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ar">
					<div class="resistance">
						<div class="header bold w300px">Status Ailment Resistance</div>
						<!-- <div th:each="res: ${unit.ailres.ail1}" class="" th:remove="tag"> -->
						<div th:each="awak,iter : ${strAilment}" th:remove="tag">
							<div class="res bold w300px res-grid">
								<div class="h30px grid">
									<img class="center self-center"
										th:src="@{${'/img/icon/' +ailment.get(awak).icon }}" />
								</div>
								<div class="h30px grid">
									<span class="center self-center"
										th:text="#{${ailment.get(awak).name }}"></span>
								</div>
								<div class="h30px grid">
									<span class="center self-center"
										th:text="${ailres[iter.index].value }" th:id="${awak}"
										th:attr="data-val=${ailres[iter.index].value}"></span>
								</div>
								<div class="h30px grid">
									<img class="center self-center" th:id="${'img'+awak}"
										th:src="@{${'/img/icon/' +ailres[iter.index].icon }}" />
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="dr">
					<div class="drops" th:if="${#lists.size(unit.drops) > 0}">
						<div class="header bold">How to get:</div>
						<div th:each="drop  : ${unit.drops}">
							<div class="drop-loc">
								<div class="drop-top">
									<a
										th:href="${(drop.portalSplit[0] == '1' ? '/event/' : (drop.portalSplit[0] == '2' ? '/event/group/' : '/event/area/' ))+drop.portalSplit[1]}"
										th:text="#{${drop.portalSplit[2]}}"></a>
								</div>
								<div class="drop-bottom">
									<span>➤</span>
									<a th:href="${'/stages/'+drop.stageSplit[0]}"
										th:text="#{${drop.stageSplit[1]}}"></a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="tb" th:if="${#lists.size(unit.talents) > 0}">
					<div class="talent">
						<div class="header bold">Talent Blossoming:</div>
						<div class="passive-row">
							<div class="passive_item bold tb-no">#</div>
							<div class="passive_item bold passive-name">Name</div>
							<div class="passive_item bold passive-desc">Description</div>
						</div>
						<div th:each="talent  : ${unit.talents}">
							<div class="passive-row">
								<div class="passive_item tb-no" th:text="${talent.no}"></div>
								<div class="passive_item passive-name">
									<th:block th:if="${talent.ailRes }">
										<div th:with="name=#{${talent.ailRes.name}}"
											th:if="${#messages.msgOrNull('__${talent.ailRes.name}__')}"
											th:text="${ name.replaceAll('<.+?>', (talent.ailRes.ailTalent ) ).replaceAll('\+-', '-' )}"></div>
									</th:block>
									<div th:if="${talent.eleRes }"
										th:with="name=#{${talent.eleRes.name}}">
										<div
											th:text="${name.replaceAll('<.+?>', (talent.eleRes.eleTalent ) ).replaceAll('\+-', '-' )}"></div>
									</div>
									<div th:if="${talent.skill }">
										<a th:href="@{${'/skill/' + talent.skill.code }}"
											th:text="#{${talent.skill.name}}"></a>
									</div>
									<div th:if="${talent.passive }"
										th:with="name=#{${talent.passive.name}}">
										<a th:href="@{${'/passive/' +talent.passive.code }}"
											th:text="${name.replaceAll('<.+?>', (talent.passive.var ) ).replaceAll('\+-', '-' )}"></a>
									</div>
									<div th:if="${talent.increaseDamage }">
										<div th:text="'passive: '+#{${talent.increaseDamage.name}}"></div>
									</div>
									<div th:if="${talent.skillTypeRes }">
										<div th:text="'passive: '+#{${talent.skillTypeRes.name}}"></div>
									</div>
									<div th:if="${talent.damageCut }">
										<div th:text="'passive: '+#{${talent.damageCut.name}}"></div>
									</div>
									<div th:if="${talent.reactionPassive }">
										<div th:text="'passive: '+#{${talent.reactionPassive.name}}"></div>
									</div>
									<div th:if="${talent.skillAilment }">
										<div
											th:text="'passive: '+#{${talent.skillAilment.ailment.name}}"></div>
									</div>
									<div th:if="${talent.repetitiveEffect }">
										<div th:text=" #{${talent.repetitiveEffect.name}}"></div>
									</div>
									<div th:if="${talent.stats }">
										<div th:if="${talent.stats.hp!=0}"
											th:text="'HP +'+${talent.stats.hp}"></div>
										<div th:if="${talent.stats.mp!=0}"
											th:text="'MP +'+${talent.stats.mp}"></div>
										<div th:if="${talent.stats.attack!=0}"
											th:text="'ATK +'+${talent.stats.attack}"></div>
										<div th:if="${talent.stats.defense!=0}"
											th:text="'DEF +'+${talent.stats.defense}"></div>
										<div th:if="${talent.stats.intelligence!=0}"
											th:text="'WIS +'+${talent.stats.intelligence}"></div>
										<div th:if="${talent.stats.agility!=0}"
											th:text="'AGL +'+${talent.stats.agility}"></div>
										<div th:if="${talent.stats.mobility!=0}"
											th:text="'Move +'+${talent.stats.mobility}"></div>
									</div>
								</div>
								<div class="passive_item passive-desc">
									<th:block th:if="${talent.ailRes }">
										<div th:with="desc=#{${talent.ailRes.description}}"
											th:if="${#messages.msgOrNull('__${talent.ailRes .description}__')}"
											th:text="${desc.replaceAll('<.+?>', (talent.ailRes.ailTalent ) ).replaceAll('\+-', '-' )}"></div>
									</th:block>
									<div th:if="${talent.eleRes }"
										th:with="desc=#{${talent.eleRes.description}}">
										<div
											th:text="${desc.replaceAll('<.+?>', (talent.eleRes.eleTalent ) ).replaceAll('\+-', '-' )}"></div>
									</div>
									<div th:if="${talent.skill }"
										th:with="desc=#{${talent.skill.description}}">
										<div
											th:text="${desc.replaceAll('<damagePhysics>',talent.skill.strMul).replaceAll('<specialCoolTurn>',talent.skill.turn).replaceAll('<Turn1>',talent.skill.buff?.maxDur)}"></div>
									</div>
									<div th:if="${talent.passive }"
										th:with="desc=#{${talent.passive.description}}">
										<div
											th:text="${desc.replaceAll('<.+?>', (talent.passive.var ) ).replaceAll('\+-', '-' )}"></div>
									</div>
									<div th:if="${talent.increaseDamage }">
										<div
											th:text="'passive: '+#{${talent.increaseDamage.description}}"></div>
									</div>
									<div th:if="${talent.skillTypeRes }">
										<div
											th:text="'passive: '+#{${talent.skillTypeRes.description}}"></div>
									</div>
									<div th:if="${talent.damageCut }">
										<div th:text="'passive: '+#{${talent.damageCut.description}}"></div>
									</div>
									<div th:if="${talent.reactionPassive }">
										<div
											th:text="'passive: '+#{${talent.reactionPassive.description}}"></div>
									</div>
									<div th:if="${talent.skillAilment }">
										<div
											th:text="'passive: '+#{${talent.skillAilment.ailment.description}}"></div>
									</div>
									<div th:if="${talent.repetitiveEffect }">
										<div th:text=" #{${talent.repetitiveEffect.description}}"></div>
									</div>
									<div th:if="${talent.stats }">
										<div th:if="${talent.stats.hp!=0}"
											th:text="'HP +'+${talent.stats.hp}"></div>
										<div th:if="${talent.stats.mp!=0}"
											th:text="'MP +'+${talent.stats.mp}"></div>
										<div th:if="${talent.stats.attack!=0}"
											th:text="'ATK +'+${talent.stats.attack}"></div>
										<div th:if="${talent.stats.defense!=0}"
											th:text="'DEF +'+${talent.stats.defense}"></div>
										<div th:if="${talent.stats.intelligence!=0}"
											th:text="'WIS +'+${talent.stats.intelligence}"></div>
										<div th:if="${talent.stats.agility!=0}"
											th:text="'AGL +'+${talent.stats.agility}"></div>
										<div th:if="${talent.stats.mobility!=0}"
											th:text="'Move +'+${talent.stats.mobility}"></div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="container">


				<div class="passive"></div>

			</div>
		</div>
	</div>




	<div id="unit-footer"
		th:replace="~{fragments/app-fragments :: copyright}">Footer</div>


</body>
</html>